## * 모든 자료형 저장이 가능한 리스트

In [4]:
L = [10, 'abc', (1, 2, 3), [1, 2, 3], 3.5, {1:'a', 2:'b'}]

## * 다른 자료형의 데이터를 리스트로 변환

In [6]:
# 문자열 -> 리스트
name = 'Snow'
L1 = list(name)

In [7]:
# 튜블 -> 리스트
age = (20, 30, 40)
L2 = list(age)

In [8]:
# 집합 -> 리스트
score = {98, 100, 60, 88}
L3 = list(score)

In [11]:
# 사전 -> 리스트
dictation = {1:'a', 2:'b'}
L4 = list(dictation)
print(L4) # 키만 리스트에 저장

[1, 2]

In [12]:
# range() -> 리스트
# reversed() -> 리스트

## * 두 리스트가 같은지 판단

In [13]:
A = [1, 3, 5]
B = [3, 1, 5]
C = [1, 1, 3, 5]
D = [1, 3, 5]

In [14]:
A==B, A==C, A==D

(False, False, True)

## * 리스트 인덱싱, 슬라이싱

In [15]:
# 문자열과 동일한 방식

## * 리스트는 mutable 객체

In [16]:
score = [30, 40, 50, 60, 70]
id(score)

2062747829320

In [17]:
score[3] = 100
print(score)

[30, 40, 50, 100, 70]

In [19]:
id(score) # 수정 후에도 id 동일

2062747829320

## * 슬라이싱을 이용하여 대체하기

In [24]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[2:5] = ['brown', 'gray']
color

['red', 'blue', 'brown', 'gray', 'purple', 'black']

In [25]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[2:5] = 'brown'
color

['red', 'blue', 'b', 'r', 'o', 'w', 'n', 'purple', 'black']

In [26]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[1:5] = (100, 200, 300)
color

['red', 100, 200, 300, 'purple', 'black']

In [27]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[4:6] = {1, 2, 3}
color

['red', 'blue', 'green', 'white', 1, 2, 3, 'black']

In [28]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[1:5] = {'NY':'New York', 'CA':'California'} # 키 값으로 대체
color

['red', 'NY', 'CA', 'purple', 'black']

In [30]:
color = ['red', 'blue', 'green', 'white', 'orange', 'purple', 'black']
color[2:5] = 100 # iterable 자료형만 가능
color

TypeError: can only assign an iterable

In [31]:
score = [80, 90, 88, 92, 77, 75, 83, 65, 72, 86]
score[2:9:3] = [100, 99, 98]
score

[80, 90, 100, 92, 77, 99, 83, 65, 98, 86]

In [33]:
score = [80, 90, 88, 92, 77, 75, 83, 65, 72, 86]
score[2:9:3] = [100, 99, 98, 22, 33, 44] # 갯수는 동일해야 한다.
score

ValueError: attempt to assign sequence of size 6 to extended slice of size 3

## * 리스트에 +,  *, in, not in, del 연산자 사용

In [36]:
L1 = [1, 2, 3] + [4, 5, 6]
L1

[1, 2, 3, 4, 5, 6]

In [37]:
L2 = L1 * 2
L2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [38]:
6 in L1

True

In [39]:
1 not in L1

False

In [40]:
# 데이터 하나만 삭제
del L1[5]
print(L1)

[1, 2, 3, 4, 5]

In [41]:
del(L1[2:4])
L1

[1, 2, 5]

In [42]:
del L1
L1

NameError: name 'L1' is not defined

## * 리스트에 함수 적용 - len(), max(), min(), sum(), sorted(), reversed()

In [43]:
L = [10, 20, 30, 40, 50, 60, 70]

In [44]:
len(L)

7

In [45]:
max(L)

70

In [46]:
min(L)

10

In [47]:
sum(L)

280

In [50]:
sorted(L)

[10, 20, 30, 40, 50, 60, 70]

In [51]:
reversed(L)

* code 48

In [53]:
data = [0, 4, 11, 2, 5, 7]
data[0] = sum(data[1:])
data

[29, 4, 11, 2, 5, 7]

* code 49

In [54]:
L = [1, 2, 3, 2, 1]

In [55]:
L == list(reversed(L))

True

In [56]:
L == L[::-1]

True

# * 리스트의 메소드

## * 리스트에 데이터 추가하기 - append(), insert()

### append()

In [57]:
L = [1, 2, 3]
L.append(7)
L

[1, 2, 3, 7]

In [58]:
L.append([8, 10])
L

[1, 2, 3, 7, [8, 10]]

* code 50

In [60]:
score = []

for i in range(5) :
    score.append(int(input('성적을 입력하세요. : ')))
    
print(max(score))

성적을 입력하세요. : 10
성적을 입력하세요. : 5
성적을 입력하세요. : 90
성적을 입력하세요. : 4
성적을 입력하세요. : 50
90

* code 51

In [61]:
names = []

while(1) :
    name = input('이름을 입력하세요. : ')
    if name == 'none' :
        break
    names.append(name)

print(names)

이름을 입력하세요. : 여혜인
이름을 입력하세요. : 이하윤
이름을 입력하세요. : 홍길동
이름을 입력하세요. : 공유
이름을 입력하세요. : 김연경
이름을 입력하세요. : none
['여혜인', '이하윤', '홍길동', '공유', '김연경']

### insert(i, x)

In [64]:
L = ['white', 'black', 'blue', 'red']
L.insert(1, 'gray')
L

['white', 'gray', 'black', 'blue', 'red']

In [66]:
L.insert(1,[1, 2, 3]) # 리스트가 그대로 삽입
L

['white', [1, 2, 3], [1, 2, 3], 'gray', 'black', 'blue', 'red']

## * 리스트와 iterable 자료형 연결하기 - extend()

In [67]:
L = [1, 3, 5]
L.extend('python')
L

[1, 3, 5, 'p', 'y', 't', 'h', 'o', 'n']

In [69]:
L = [1, 3, 5]
L.extend([10, 20])
L

[1, 3, 5, 10, 20]

In [71]:
L = [1, 3, 5]
L.extend((20, 30))
L

[1, 3, 5, 20, 30]

In [72]:
L = [1, 3, 5]
L.extend({7, 1})
L

[1, 3, 5, 1, 7]

In [73]:
# 사전, range(), reversed() 모두 가능

## * 리스트에서 데이터 삭제하기 - pop(), remove(), clear()

### pop()
- pop(): 마지막 데이터를 삭제하고 반환
- pop(i): 해당 인덱스의 데이터를 삭제하고 반환
* i에 없는 인덱스를 넣으면 IndexError 발생

In [1]:
fruits = ['apple', 'banana', 'melon', 'berry']
result = fruits.pop()
result

'berry'

In [2]:
result = fruits.pop(1)
result

'banana'

### remove(x)
- 삭제하고자 하는 데이터를 인수로 넣는다.
- 반환값은 없고, 리스트 안에 x가 여러 개 있으면 맨 앞에 원소만 삭제
- 없는 원소를 삭제하려고 하면 ValueError 발생

In [4]:
color = ['red', 'yellow', 'green', 'blue']
result = color.remove('yellow')
result

In [5]:
color

['red', 'green', 'blue']

* code 52

In [6]:
dataset = [4, 7, 8, 1, 2, 5]
odd = []

for data in dataset :
    if data%2==0 :
        continue
    odd.append(data)
    
odd

[7, 1, 5]

### clear()
- 리스트의 모든 원소를 삭제한다.

In [7]:
L = [1, 3, 5, 7, 9]
L.clear()
L

[]

## * 리스트 복사하기 - copy()

In [8]:
L = [1, 3, 5, 7, 9]
id(L)

2055107901960

In [10]:
M = L # 얕은 복사
id(M)

2055107901960

In [11]:
M[2] = 10
L

[1, 3, 10, 7, 9]

In [12]:
M

[1, 3, 10, 7, 9]

* copy()

In [13]:
L = [1, 3, 5, 7, 9]
M = L.copy()

In [15]:
id(L), id(M) # 서로 다른 ID

(2055075603976, 2055108198728)

* 슬라이싱을 이용한 copy() 동작

In [16]:
A = [1, 2, 3]
B = A[:]
id(A), id(B)

(2055108115336, 2055108138824)

## * 리스트에 있는 데이터 개수 세기 - count()
- count(x): 리스트 안에 x가 몇 개 있는지 반환
- 찾는 데이터가 없으면 0을 반환

In [20]:
L = [1, 3, 5, 7, 9, 11, 13, 3]
L.count(3)

2

In [21]:
L.count(0)

0

## * 리스트에 있는 데이터 위치 찾기 - index()
- 찾는 x의 인덱스를 알려주는 메소드
- x가 없다면 ValueError 발생
- x가 여러 개 있으면, 가장 먼저 나오는 위치 반환
<br><br>
- index(x): x의 인덱스
- index(x, a): 리스트[a:]에서 x를 찾는다.
- index(x, a, b): 리스트[a:b]에서 x를 찾는다.

In [22]:
L = [89, 84, 90, 77, 95, 90, 65, 100, 90, 84]

In [23]:
L.index(90)

2

In [24]:
L.index(99) # 없는 데이터 찾기

ValueError: 99 is not in list

In [25]:
L.index(90, 3)

5

In [26]:
L.index(90, 6, 8)

ValueError: 90 is not in list

##  * 리스트 역순으로 만들기 - reverse()

In [30]:
L = [1, 3, 5, 7, 9]
result = L.reverse()

In [32]:
print(result) # 반환값이 없다.

None

In [31]:
print(L) # 리스트 자체가 바뀐다.

[9, 7, 5, 3, 1]

In [33]:
result = reversed(L)

In [35]:
list(result)

[1, 3, 5, 7, 9]

## * 리스트 정렬하기 - sort()
- sort(): 오름차순으로 정렬
- sort(reverse=True): 내림차순으로 정렬
- sort(key=함수명): 정렬 기준을 함수로 지정할 수 있다.
- sort(reverse, key) : 내림차수와 함수 지정 두 개 가능

In [36]:
L = [1, 3, 5, 7, 9, 11, 13]

In [37]:
L.sort()
L

[1, 3, 5, 7, 9, 11, 13]

In [38]:
L.sort(reverse=True)
L

[13, 11, 9, 7, 5, 3, 1]

In [40]:
M = [9, -1, -10, 4, 3, 2]
M.sort(key=abs, reverse=True)
M

[-10, 9, 4, 3, 2, -1]

* code 53

In [41]:
X = [1, 3, 5, '10', 9]

In [43]:
X.sort() # 서로 다른 자료형끼리 정렬이 불가

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
X.sort(key=int)
X

[1, 3, 5, 9, '10']

## * 리스트 안에 리스트 구조

In [52]:
M = [[1, 8, 3], [1, 7, 9], [2, 4 ,8]]

In [46]:
M[0]

[1, 2, 3]

In [47]:
M[0][2]

3

In [53]:
M.sort()
M

[[1, 7, 9], [1, 8, 3], [2, 4, 8]]

In [54]:
M.sort(key=sum)
M

[[1, 8, 3], [2, 4, 8], [1, 7, 9]]

* code 54

In [67]:
M = [[90, 80, 77, 92, 65, 81],
     [80, 91,75,88, 60],
     [75, 79, 93, 80, 80, 80, 80, 90]]
average = []

for score in M:
    average.append(sum(score)/len(score))
    
for avg in average:
    print('%.2f ' % avg)

80.83
78.80
82.12

## * 얕은 복사와 깊은 복사

In [68]:
A = [[1, 2, 3],[4, 5, 6]]

In [69]:
B = A.copy()

In [70]:
B[0][1]=10

In [72]:
A # 얕은 복사 발생 리스트를 복사하지만 리스트 안의 리스트는 복사되지 않고 같이 공유

[[1, 10, 3], [4, 5, 6]]

In [74]:
import copy

In [75]:
C = copy.deepcopy(A)

In [77]:
C[0][1]= 20
C

[[1, 20, 3], [4, 5, 6]]

In [79]:
A # C와 서로 다른 값을 가진다. 다른 객체

[[1, 10, 3], [4, 5, 6]]

## * 리스트를 이용한 언패킹(한 번에 여러 개 변수 할당)

In [84]:
[a, b, c] = [10, 20, 30]

In [85]:
[a, b] = [10, 20, 30] # 좌, 우 개수가 같아야 한다.

ValueError: too many values to unpack (expected 2)

In [86]:
[a, b, *c] = [10, 20, 30, 40]

In [87]:
c

[30, 40]

In [88]:
[a, b, *c] = [5, 6]

In [89]:
c

[]

In [90]:
[a, *b, c] = [1, 2, 3, 4, 5]

In [91]:
b

[2, 3, 4]

## * 리스트 안에 for 반복문 사용하기 [ 표현식 for 변수 in iterable 객체 (if 조건식) ]

In [92]:
A = []
for x in range(1, 11):
    A.append(x*x)
A

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [94]:
A = [x*x for x in range(1, 11) if(x%2 == 0)]
A

[4, 16, 36, 64, 100]

In [95]:
L = []
for x in range(1, 4):
    for y in range(3, 7):
        L.append(x*y)
L

[3, 4, 5, 6, 6, 8, 10, 12, 9, 12, 15, 18]

In [96]:
L = [x*y for x in range(1, 4) for y in range(3, 7)]
L

[3, 4, 5, 6, 6, 8, 10, 12, 9, 12, 15, 18]

* code 55

In [97]:
L = [4, 7, 8, 1, 2, 5]
M = [x for x in L if x%2!=0]
M

[7, 1, 5]

* CODE 56

In [98]:
L = [3, -1, -7, 5, 10, -11, 14, 2, -8, -5]
M = [abs(x) for x in L]

In [99]:
M

[3, 1, 7, 5, 10, 11, 14, 2, 8, 5]

* CODE 57

In [101]:
words = ['hello', 'python', 'beautiful', 'bookself', 'programming']
M = [len(word) for word in words]
max_length = max(M)
print(words[M.index(max_length)])

programming

* CODE 58

In [102]:
data = ['a123', '500t', '135', 'a2b5', '123!', '100', '120*', '150']
result = [int(dt) for dt in data if dt.isdigit()]
result

[135, 100, 150]