## * print() 함수 내에 end, sep 매개변수

In [5]:
# print()는 기본적으로 enter가 마지막에 적용된다.
print('a')
print()
print('b')
# print(a, b, c)는 기본적으로 ,가 스페이스의 역할을 한다.
print(10, 20, 30)

a

b
10 20 30

#### - end

In [4]:
print('apple', end='*')
print('banana', end=' ')

apple*banana

#### - sep

In [7]:
print('apple', 'banana', 'kiwi', sep='@@')

apple@@banana@@kiwi

## * print() 함수에 % 기호를 이용하여 포맷팅하기

In [9]:
print('%d and %.2f and %s' % (10, 2.5,'abc'))

10 and 2.50 and abc

## * 문자열 format() 메소드를 이용하여 출력하기

In [10]:
# {}안에 반드시 자료형을 넣을 필요는 x
print('{} and {} and {}'.format(10, 2.5, 'abc'))

10 and 2.5 and abc

#### - format()에 정수 넣기 : {:자리  수d}

In [11]:
x = 'I got {:5d} score in the test'
x.format(90)

'I got    90 score in the test'

In [28]:
# 왼쪽 정렬
x = 'I got {:<10d} score in the test'
x.format(90)

'I got 90         score in the test'

In [29]:
# 오른쪽 정렬
x = 'I got {:>10d} score in the test'
x.format(90)

'I got         90 score in the test'

In [30]:
# 가운데 정렬
x = 'I got {:^10d} score in the test'
x.format(90)

'I got     90     score in the test'

In [32]:
# 숫자의 부호(+,-)를 가장 왼쪽에 정렬
x = 'I got {:=10d} score in the test'
x.format(-90)

'I got -       90 score in the test'

#### - format()에 실수 넣기

In [33]:
x = 'I got {:10.2f} score in the test'
x.format(85.7858)

'I got      85.79 score in the test'

In [34]:
# 정수와 같이 정렬 가능(>, <, ^, =)

#### - format()에 문자열 넣기

In [35]:
x = 'I have a {} pen'
x.format('green')

'I have a green pen'

In [36]:
# 정수와 같이 정렬 가능(>, <, ^, =)

In [37]:
# :*<10  - 10의 공간에 왼쪽 정렬 후 나머지 공간은 *으로 채워라

In [38]:
x = 'I have a {:%^10} pen'
x.format('green')

'I have a %%green%%% pen'

## * input() 함수 [ input() 반환값은 항상 문자열 객체이다. 자료형 변환 필요! ]

In [39]:
name = input('Enter your name: ')
print('You are', name)

Enter your name: Hye in
You are Hye in

In [1]:
# 이때, 정수든 실수든 문자열이든 부울이든 모든 자료형은 문자열 객체로 전달
input('Enter data : ')

Enter data : a

'a'

In [2]:
# 따라서 자료형 변환이 필요!!!
num = int(input('Enter number : '))
type(num)

Enter number : 5

int