## * 튜플 만들기

In [1]:
T1 = (1, 3, 5, 7)
type(T1)

tuple

In [2]:
T2 = 1, 2, 3

In [3]:
type(T2)

tuple

In [4]:
T3 = 1,

In [5]:
type(T3)

tuple

* ()안에 원소가 하나라면 튜플로 인식하지 않는다.

In [6]:
t1 = (5); t2 = ('abc'); t3 = ([1, 2, 3])

In [7]:
type(t1), type(t2), type(t3)

(int, str, list)

## * 다른 자료형을 튜플로 변환하기

In [8]:
# 문자열 -> 튜플
book = 'herry potter'
tuple(book)

('h', 'e', 'r', 'r', 'y', ' ', 'p', 'o', 't', 't', 'e', 'r')

In [9]:
# 리스트 -> 튜플
# 집합 -> 튜플
# 사전 -> 튜플
# range() -> 튜플
# reversed() -> 튜플

## * 튜플 인덱싱, 슬라이싱

In [10]:
primes = (1, 10, 2, 5, 9, 0, 3)
primes[3]

5

In [11]:
primes[2:6]

(2, 5, 9, 0)

## * 튜플은 immutable 객체이다.

In [12]:
T = (1, 4, 5, 2)
T[0] = 3

TypeError: 'tuple' object does not support item assignment

## * 튜플 안에 mutable 자료형도 저장 가능하다.

In [13]:
T = ([1, 2, 3], [7, 8])
T[0][2] = 100
T

([1, 2, 100], [7, 8])

In [14]:
T[1][0] = 200
T

([1, 2, 100], [200, 8])

## * 튜플에 +, *, in, not in, del 연산자 사용하기

In [15]:
T = (3, 5, 7, 8)
S = (3, 10)
T + S

(3, 5, 7, 8, 3, 10)

In [16]:
S * 5

(3, 10, 3, 10, 3, 10, 3, 10, 3, 10)

In [17]:
4 in T

False

In [18]:
10 not in S

False

In [19]:
del T
T

NameError: name 'T' is not defined

## * 튜플에 함수 적용하기 - len(), max(), min(), sum(), sorted(), reversed()

In [20]:
primes = [5, 13, 2, 7, 9]
len(primes), max(primes), min(primes), sum(primes), sorted(primes), reversed(primes)

(5, 13, 2, 36, [2, 5, 7, 9, 13], <list_reverseiterator at 0x22775cb0e80>)

## * 튜플 메소드

### * count()

In [21]:
T = (3, 5, 1, 0, 9)
T.count(3)

1

### * index()
- index(x): x가 있는 첫 번째 인덱스
- index(x, a): [a:]에서 x를 찾는다.
- index(x, a, b): [a:b]에서 x를 찾는다.

In [23]:
T = (3, 7, 9, 3, 2, 7, 3, 7)
T.index(3), T.index(3,3), T.index(7, 4, 6)

(0, 3, 5)

* code 59

In [24]:
T = (89, 90, 85, 99, 77, 58, 85, 77)
count = 0

score = int(input('Enter score : '))

for n in T :
    if n == score:
        count += 1

count

Enter score : 77

2

## * 튜플에 이용

In [27]:
a = 10; b = 20
print('a = %d b = %d' % (a, b))

a = 10 b = 20

In [28]:
b, a = a, b

In [29]:
b, a

(10, 20)