## <구조> for 변수 in iterable 데이터:

In [1]:
strings = 'star'

for string in strings:
    print(string, end=' ')

s t a r

* CODE34

In [4]:
string = 'AliCe'
upper_string = string.upper()

for upper in upper_string:
    print(upper)

A
L
I
C
E

* CODE35

In [7]:
string = input('Input String : ')
lower_string = string.lower()

vowel_count = 0
con_count = 0

for ch in lower_string:
    if ch in 'aeiou':
        vowel_count+=1
    else:
        con_count+=1
        
print('vowel count :', vowel_count)
print('con_count :', con_count)

Input String : AAADDD
vowel count : 3
con_count : 3

* CODE36

In [8]:
string = input('Input string : ')
new_string = ''

for ch in string:
    if ch.islower():
        new_string += ch.upper()
    else:
        new_string += ch.lower()
        
print(new_string)

Input string : Nice TO MEET you.
nICE to meet YOU.

In [3]:
string = input("Enter string : ")
new_string = string.swapcase()
print(new_string)

Enter string : AbcdefgHIJK
aBCDEFGhijk

## * 리스트와 for 반복문

In [4]:
for x in ['red', 'green', 'blue']:
    print(x)

red
green
blue

* code 37

In [7]:
friends = ['Paul', 'David', 'Alice', 'Jenny']

for friend in friends :
    print("Welcome! {}".format(friend))

Welcome! Paul
Welcome! David
Welcome! Alice
Welcome! Jenny

* code 38

In [8]:
books = ['Alice ', 'Peter Pan', 'snow white']

for book in books :
    print(book.title())

Alice
Peter Pan
Snow White

* code 39

In [11]:
words = ['hello', 'computer', 'bookshelf', 'chair', 'bicycle']
len_list = []

for word in words :
    len_list.append(len(word))

max_index = len_list.index(max(len_list))
print(words[max_index])

bookshelf

* code 40

In [13]:
numbers = [4, 10, 9, -5, 5, 1, 8, 2, -2]
sum = 0

for number in numbers :
    if number % 2 == 0 :
        sum+=number
        
print(sum)

22

* code 41

In [18]:
cities = ['Busan', 'Incheon', 'Seoul', 'Paris', 'Tokyo', 'Berlin']

print('What is the capital of Korea?')
for n, city in enumerate(cities) :
    print(n+1, city)

answer = input('정답을 입력하세요. : ')
if(answer=='Seoul') :
    print('정답입니다.!')
else :
    print('땡! 오답입니다.')

What is the capital of Korea?
1 Busan
2 Incheon
3 Seoul
4 Paris
5 Tokyo
6 Berlin
정답을 입력하세요. : Paris
땡! 오답입니다.

## * 튜플과 for 반복문

In [19]:
T = (100, 200, 300)
for x in T:
    print(x)

100
200
300

## * 집합과 for 반복문: 집합은 인덱스가 존재x  > while은 불가능하지만 for는 가능

In [20]:
sports = {'baseball', 'soccer', 'tennis', 'basketball'}

for sport in sports :
    print(sport)

baseball
basketball
tennis
soccer

* code 42

In [21]:
A = {'apple', 'orange', 'strawberry', 'watermelon'}
B = {'strawberry', 'watermelon', 'kiwi'}

for a in A :
    if(a in B) :
        print(a)

watermelon
strawberry

## * 사전과 for 반복문

In [22]:
info = {'name':'Alice', 'age':20, 'phone':'010-2222-2222'}

for x in info:
    print(x) #key값만 가져온다.

name
age
phone

## * range() 함수
- 1개 : range(a), 0부터 a-1까지의 정수
- 2개 : range(a, b), a부터 b-1까지의 정수
- 3개 : range(a, b, c), a부터 b-1까지 c의 간격의 정수

In [28]:
type(range(5)) # range 객체 반환하므로 형변환 필요

range

In [32]:
x = list(range(5))
y = list(range(3, 7))
z = list(range(1, 8, 2))

print(x)
print(y)
print(z)

[0, 1, 2, 3, 4]
[3, 4, 5, 6]
[1, 3, 5, 7]

In [33]:
range( ,10,2) # 문자열 슬라이싱과 다르게 숫자 생략이 불가능하다.

SyntaxError: invalid syntax (<ipython-input-33-71ac41a7d3ae>, line 1)

In [34]:
for a in range(5) :
    print(a)

0
1
2
3
4

In [35]:
sum = 0
for num in range(10, 16):
    sum += num

print(sum)

75

In [36]:
sum = 0
for num in range(0, 101, 3):
    sum += num
    
print(sum)

1683

* code 43

In [41]:
number = int(input("양의 정수 하나를 입력하세요. : "))

for i in range(1, number+1):
    if ( (number % i) == 0 ) :
        print(i)

양의 정수 하나를 입력하세요. : 30
1
2
3
5
6
10
15
30

## * for 반복문 내에서 break 사용하기

In [42]:
for x in [2, 9, -3, 8, 0, 10, -2, 1]:
    if x==0:
        break
    print(x)

2
9
-3
8

## * for 반복문 내에서 continue 사용하기

In [43]:
for x in [5, 7, 0, 8, 0, 1]:
    if x==0: continue
    print('x : {}'.format(x))

x : 5
x : 7
x : 8
x : 1

## * for 반복문에서 else 구문 사용하기

In [44]:
for x in [5, 7, 3, 8, 1] :
    if x == 0 :
        break
    print(x)

else :
    print('this is else block')

5
7
3
8
1
this is else block

In [46]:
for x in [5, 7, 0, 8, 0, 1] :
    if x == 0 :
        break
    print(x)
else :
    print('this is else block')

5
7

## * 중첩된 for 반복문

In [50]:
for i in range(1, 11) :
    for j in range(1, 11) :
        print('%5d' % (i*j), end=' ')
    print()

    1     2     3     4     5     6     7     8     9    10
    2     4     6     8    10    12    14    16    18    20
    3     6     9    12    15    18    21    24    27    30
    4     8    12    16    20    24    28    32    36    40
    5    10    15    20    25    30    35    40    45    50
    6    12    18    24    30    36    42    48    54    60
    7    14    21    28    35    42    49    56    63    70
    8    16    24    32    40    48    56    64    72    80
    9    18    27    36    45    54    63    72    81    90
   10    20    30    40    50    60    70    80    90   100

* code 44

In [53]:
A = {'apple', 'orange', 'strawberry', 'watermelon', 'tomato'}
B = {'strawberry', 'tomato', 'kiwi'}

for a in A :
    for b in B :
        if a == b :
            print(b)

tomato
strawberry

* code 45

In [55]:
number = int(input('양의 정수 하나를 입력하세요. : '))

for i in range(1, number+1):
    print('[{}]'.format(i), end=' : ')
    for j in range(1, i+1) :
        if (i % j == 0) :
            print(j, end=', ')
    print()

양의 정수 하나를 입력하세요. : 10
[1] : 1,
[2] : 1, 2,
[3] : 1, 3,
[4] : 1, 2, 4,
[5] : 1, 5,
[6] : 1, 2, 3, 6,
[7] : 1, 7,
[8] : 1, 2, 4, 8,
[9] : 1, 3, 9,
[10] : 1, 2, 5, 10,

* code 46

In [58]:
L = ['heLLO123', '010-111-1234Alice', 'Y2018M10D11']
new_string = []

for string in L :
    for i in string :
        if i.isalpha() :
            new_string.append(i)

new_string = "".join(new_string)           
print(new_string)

heLLOAliceYMD

* code 47

In [59]:
i = 0

while(i<len(L)):
    new_word = ''
    for j in L[i] :
        if j.isalpha() :
            new_word += j
    print(new_word)
    i+=1

heLLO
Alice
YMD

In [62]:
for word in L :
    new_word = ''
    i = 0
    while(i < len(word)) :
        if word[i].isalpha() :
            new_word += word[i]
        i+=1
    print(new_word)

heLLO
Alice
YMD

## * reversed() 함수에 대한 for 반복문

In [63]:
name = 'Alice'
reversed(name)

In [64]:
list(reversed(name))

['e', 'c', 'i', 'l', 'A']

In [65]:
tuple(reversed(name))

('e', 'c', 'i', 'l', 'A')

In [67]:
for c in reversed(name) :
    print(c, end=' ')

e c i l A

In [68]:
# 리스트에 적용 가능
score = [80, 90, 20, 11, 10]
# 튜플에 적용 가능
subjects = ('math', 'english', 'korean')

In [69]:
list(reversed(score))

[10, 11, 20, 90, 80]

In [70]:
list(reversed(subjects))

['korean', 'english', 'math']