## * 함수 정의와 함수 호출

In [1]:
def hello():
    print('Hi')
    print('Nice to meet you')

In [2]:
hello()

Hi
Nice to meet you

## * main 표시

In [4]:
if __name__ == '__main__':
    hello()

Hi
Nice to meet you

In [6]:
def hello():
    print('Hi')
    print('Nice to meet you')

# main # 주석으로 시작표시
hello()

Hi
Nice to meet you

* CODE69

In [7]:
def print_largest(x, y, z):
    L = [x, y, z]
    print('Max Number : {}'.format(max(L)))

# main
x = int(input('Enter x : '))
y = int(input('Enter y : '))
z = int(input('Enter z : '))

print_largest(x, y, z)

Enter x : 2
Enter y : 5
Enter z : 10
Max Number : 10

* CODE 70

In [10]:
def print_star(x, y):
    for row in range(x):
        for col in range(y):
            print('*', end='')
        print()
    
# main
x = int(input('Enter x : '))
y = int(input('Enter y : '))

print_star(x, y)

Enter x : 2
Enter y : 6
******
******

## * mutable 객체를 함수의 인수로 넘기는 경우

In [11]:
def change_score(L):
    i = 0
    while i<len(L):
        L[i]+=5
        i+=1
        
# main
score = [80, 90, 86, 75, 88]
print(score)
change_score(score)
print(score)

[80, 90, 86, 75, 88]
[85, 95, 91, 80, 93]

In [12]:
# 독립적인 리스트를 원한다면
def change_score(L):
    L = L.copy()
    i = 0
    while i<len(L):
        L[i]+=5
        i+=1
    return L
        
# main
score = [80, 90, 86, 75, 88]
print(score)
print(change_score(score))
print(score)

[80, 90, 86, 75, 88]
[85, 95, 91, 80, 93]
[80, 90, 86, 75, 88]

## * 함수의 반환값
- return문은 있어도 없어도 된다.
- return문에 값이 없거나 1개 이상일 수 있다.
- return문이 실행되면 해당 함수는 종료된다.

* CODE 71

In [13]:
def print_largest(x, y, z):
    L = [x, y, z]
    return max(L)

# main
x = int(input('Enter x : '))
y = int(input('Enter y : '))
z = int(input('Enter z : '))

max_num = print_largest(x, y, z)
print('Max Number is {}'.format(max_num))

Enter x : 3
Enter y :  1
Enter z : 2
Max Number is 3

### - 반환값이 여러 개인 경우

In [15]:
def return_two(x, y):
    w = x+y
    z = x*y
    return w, z # 반환값은 튜플의 형태로 전달

total, multi = return_two(10, 20) 
total, multi

(30, 200)

In [16]:
one = return_two(10, 20)
one

(30, 200)

### - 다양한 패터으로 변수 받기

In [17]:
def calc(x, y):
    a = x + y
    b = x - y
    c = x * y
    d = x // y
    e = x % y
    return a, b, c, d, e

In [18]:
v = calc(30, 7)

In [19]:
v1, v2, v3, v4, v5 = calc(30, 7)

In [21]:
v, *w = calc(30, 7)
v, w

(37, [23, 210, 4, 2])

In [22]:
*v, w = calc(30, 7)
v, w

([37, 23, 210, 4], 2)

In [23]:
u, *v, w = calc(30, 7)

In [24]:
u, v, w

(37, [23, 210, 4], 2)

### - 잘못된 경우

In [25]:
v1, v2, v3, v4 = calc(20, 100)

ValueError: too many values to unpack (expected 4)

In [26]:
*v1, *v2 = calc(20, 100)

SyntaxError: two starred expressions in assignment (<ipython-input-26-efbb903760b3>, line 4)

* CODE 72

In [27]:
def score_info(L):
    num_of_students = len(L)
    max_score = max(L)
    min_score = min(L)
    avg_score = sum(L)/len(L)
    
    return num_of_students, max_score, min_score, avg_score
    
# main
math = [90, 80, 95, 83, 75, 99, 72, 90, 65, 88]
score_info(math)

(10, 99, 65, 83.7)

* CODE 73

In [28]:
def count(L, x):
    cnt = 0
    for score in L:
        if score >= x:
            cnt += 1
    return cnt

# main
math = [90, 80, 95, 83, 75, 99, 72, 90, 65, 88]
print('수학점수가 85점 이상인 학생 수는 {}명 입니다.'.format(count(math, 85)))

수학점수가 85점 이상인 학생 수는 5명 입니다.

* CODE 74

In [30]:
def test_return():
    print('Hello World')
    
if test_return()==None:
    print('There is no return value')

Hello World
There is no return value

## * 함수 안에 return 문이 여러 개인 경우

In [32]:
def return_test():
    print('return test')
    return 100 # 여기에서 함수 끝
    return 200

In [33]:
def return_test(x, y):
    if x >=y:
        return x
    else:
        return y

## * 지역변수와 전역변수
- 지역변수: 함수 안에서만 사용가능
- 전역변수: 어디서나 가능

In [34]:
def test():
    a = 10
    print(a, x)

# main
x = 100
test()
print(x)

10 100
100

In [39]:
def test():
    a = 10
    print(a, q)

# main
test() # 이때는 q를 모르기 대문에 에러 발생
q = 100
print(q)

NameError: name 'q' is not defined

## * 지역변수와 전역변수 이름이 같은 경우, 지역변수가 우선순위 높음

In [40]:
def test():
    a = 10
    print(a)
    
# main
a = 20
test()
print(a)

10
20

## * global 키워드
- 변수가 선언되기 전에 먼저 선언해야 한다. ex) global n

In [48]:
# global 키워드
def test():
    global n 
    n = 10
    print(n)
    
# main
n = 20
test()
print(n)

10
10

In [51]:
# global 키워드
def test():
    global e
    e = 10
    print(e)
    
# main
test()
print(e)

10
10

## * 매개변수와 입력 인수의 다양한 형태

### * 기본값이 있는 매개변수
* NOTE : 함수를 정의할 때 기본값이 없는 매개변수가 있는 매개변수보다 뒤에 나오면 안 된다.!

In [52]:
def volume(width, length, height=10):
    return width*length*height

#main
v1 = volume(2, 3, 5)
v2 = volume(2, 3)

In [53]:
v1, v2

(30, 60)

In [54]:
def volume(width=2, length=3, height=5):
    return width*length*height

v1 = volume()
v2 = volume(1)
v3 = volume(1, 2)
v4 = volume(1, 2, 3)

In [55]:
v1, v2, v3 ,v4

(30, 15, 10, 6)

### * 가변개수의 인수를 받을 수 있는 매개변수(*args)

In [56]:
def print_all(*args):
    print(args)

print_all()
print_all(1)
print_all(1, 2)
print_all(1, 2, 3)

()
(1,)
(1, 2)
(1, 2, 3)

In [57]:
def print_all(*args):
    print(args.count('c'))
    
print_all('a', 'b', 'c', 'd', 'c', 'a', 'c' )

3

### * 키워드 인수

In [63]:
def introduce(name, age):
    print('Hi, I am {} and {} years old'.format(name, age))
    
introduce(name='Alice', age=10)
introduce(age=10, name='Alice') # 순서가 상관 x
introduce('Alice', age=10) # 섞어도 상관 없다.

Hi, I am Alice and 10 years old
Hi, I am Alice and 10 years old
Hi, I am Alice and 10 years old

In [64]:
# 하지만 섞어서 사용할 때는 키워드 키워드 인수가 항상 위치 인수보다 뒤에 봐야한다.

In [65]:
def introduce(name, age, height):
    print('Hi, I am {} and {} years old'.format(name, age))
    
introduce(name='Alice', age=10, height=160)

Hi, I am Alice and 10 years old

In [66]:
introduce('Alice', age=10, height=160)

Hi, I am Alice and 10 years old

In [67]:
introduce(name='Alice', 10, height=160) # 에러 발생

SyntaxError: positional argument follows keyword argument (<ipython-input-67-6d765f421668>, line 1)

## * 가변개수의 키워드 인수(**kwargs)
- 넘긴 인수를 사전으로 처리한다.

In [68]:
def test(**kwargs):
    print(kwargs)
    
test(name='Alice', age=10, height=160, weight=45)

{'name': 'Alice', 'age': 10, 'height': 160, 'weight': 45}

In [70]:
def test_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(key,':',value)

test_kwargs(name='Alice', age=10, height=160, weight=45)

name : Alice
age : 10
height : 160
weight : 45

### **kwargs 인수로 사전을 미리 정의하여 입력할 때
- 이때 키의 값은 모두 문자열이어야 한다.

In [74]:
D1 = {'a':10, 'b':20, 'c':30}
test_kwargs(**D1)

a : 10
b : 20
c : 30

In [75]:
D2 = {'x':[5, 7], 'y':[2, 9]}
test_kwargs(**D2)

x : [5, 7]
y : [2, 9]

## * 람다 함수: 이름 없는 함수
- lambda <인수들> : <반환할 식>

In [76]:
f = lambda x,y : x + y

In [77]:
f(2, 6)

8

In [78]:
f = lambda x : x*x
f(4)

16

In [79]:
f = lambda x : x%2 == 0
f(4)

True

## * 파이썬 내장함수

In [80]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

## 1. 자료형 변환 함수
### int(), float(), complex(), bool(), str(), list(), tuple(), set(), dict()

## 2. 수학 관련 함수

In [82]:
# abs(x) : x에 int 또는 float 자료형만 가능하고 절대값을 반환
abs(-5), abs(9), abs(-0.9)

(5, 9, 0.9)

In [84]:
# divmod(x,y): x와 y를 나눈 (x//y, x%y)튜플을 반환
divmod(10, 4)

(2, 2)

In [85]:
# pow(x,y): x의 y 제곱을 반환
pow(2, 10)

1024

In [88]:
# round(x): x를 반올림한 값을 반환
round(4.4), round(9.5), round(-0.9)

(4, 10, -1)

In [89]:
# bin(x): x를 2진수로 변환하여 반환, 결과는 Ob로 시작하는 문자열이다.
bin(10), bin(-2), bin(3)

('0b1010', '-0b10', '0b11')

In [90]:
# oct(x): x를 8진수로 변환, 결과는 Oo로 시작하는 문자열이다.
oct(10), oct(2), oct(-2)

('0o12', '0o2', '-0o2')

In [92]:
# hex(x): x를 16진수로 변환, 결과는 Ox로 시작하는 문자열이다.
hex(2), hex(-3), hex(20)

('0x2', '-0x3', '0x14')

## 3. iter(x) 함수
- 객체가 iterable 객체인지 판단하는 함수, typeerror가 나오면 iterable객체가 아니다.

In [95]:
a = 5; b=3.5; c=True; d = 2+5j
L = [1, 2, 3, 4]
iter(a)

TypeError: 'int' object is not iterable

In [96]:
iter(L)

## 4. iterable 객체를 반환하는 함수들
### range(), sorted(), reversed(), enumerate(), map(), zip(), filter()

### enumerate() 함수
- enumerate(iterable 객체): 객체에 0부터 번호를 붙여서 enumerate 객체 반환
- enumerate(iterable 객체, 정수): 객체에 정수부터 번호를 붙여서 반환

In [98]:
fruits = ['apple', 'kiwi', 'orange', 'remon']
enumerate(fruits)
enumerate(fruits, 1)

* enumerate 객체를 사전으로 변경할 수 있다.

In [99]:
dict(enumerate(fruits))

{0: 'apple', 1: 'kiwi', 2: 'orange', 3: 'remon'}

* CODE 75

In [104]:
score = [90, 22, 40, 98, 34, 11, 4, 100, 77]
score.sort()

D = dict(enumerate(score, 1))
for rank, scr in D.items():
    print(rank,':',scr)

1 : 4
2 : 11
3 : 22
4 : 34
5 : 40
6 : 77
7 : 90
8 : 98
9 : 100

### map() 함수
- map(함수, iterable 객체 1개 이상): iterable 객체 각각의 모든 원소에 함수를 적용한 다음 map 객체를 반환한다.

In [105]:
result = map(abs, [3, -1, 0, -9, 2])
result

In [106]:
list(result)

[3, 1, 0, 9, 2]

In [107]:
def square(x):
    return x**2

Y = map(square, [1, 2, 3, 4, 5])
list(Y)

[1, 4, 9, 16, 25]

### filter() 함수
- map()함수와 사용법이 같다.
- filter(함수, iterable 객체)이다.
- 다른점은 첫 번째 인수로 오는 함수가 True 또는 False 결과를 내는 함수여야 한다.
- 결과가 True인 데이터를 모아서 결과로 반환

In [108]:
def even(x):
    if x%2==0 : return True
    else: return False
    
L = [4, 9, 10, 11, 14, 2 ,13, 15, 20, 9]
result = filter(even, L)

In [109]:
result

In [110]:
list(result)

[4, 10, 14, 2, 20]

* CODE 76

In [112]:
data = [-2, 4, 5, 6, 8, -9, -3, 10, 12, 90]
len([x for x in data if x>=0 and x%2==0 ])

6

In [116]:
len(list(filter(lambda x : x>=0 and x%2==0,data)))

6

* CODE 77

In [124]:
temperature = [-5, 3, 2, -2, -8, -6, 3, 4, 1, -1, -2, -3, 3, 10, 8, 7, -3, 1, -8, -3, -1, -10, -9, 8, -2, -7, 4, 5, -1, -4, 5]
temperature = dict(enumerate(temperature, 1))

cold = max(list(filter(lambda x : x<0 , temperature.values())))
mon = []

for month, temp in temperature.items():
    if temp == cold:
        mon.append(month)
        

print('영하 중 가장 온도가 높았던 날들은 {}일 이고 기온은 {}도 이다.'.format(mon,cold))

영하 중 가장 온도가 높았던 날들은 [10, 21, 29]일 이고 기온은 -1도 이다.

### zip() 함수

In [119]:
A = [1, 2, 3]
B = {'ONE', 'TWO','THREE'}
C = zip(A, B)
dict(C)

{1: 'TWO', 2: 'THREE', 3: 'ONE'}